{% extends 'main_layout.html' %} 
{% block title %}泊客网 - 关于{% endblock %} 
{% block subhead %}
  <link href="/css/about.css" type="text/css" rel="stylesheet" />
{% endblock %} 
{% block content %}
<div class="container">
  <h1>关于</h1>
  <h3>网站名片</h3>
  <div class="ghProfile ghProfile-grey">
	<div class="ghProfile-top">
	<table><tbody>
		<tr>
		<td>
			<a href="https://github.com/tujiaw">
			<img alt="avatar" src="https://avatars1.githubusercontent.com/u/5338512?v=3&s=460">
			</a>
		</td>
		<td>
			<h2>ningto.com</h2>
			<span>Keep it simple,stupid</span><br>
			<span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;
			<span>Shanghai,China</span><br>
			<span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;
			<a href="mailto:tujiaw@live.com">tujiaw@live.com</a><br>
			<span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;
			<a href="http://blog.csdn.net/tujiaw" target="_blank">csdn</a><span> | </span><a href="https://github.com/tujiaw" target="_blank">github</a>
		</td>
		</tr>
	</tbody></table>
	</div>
	<div class="ghProfile-bottom">
	<table class="ghProfile-table"><tbody>
		<tr>
			<td style="width: 20%;">
				<div class="ghProfile-metric">{{ about.postCount }}</div>
				<div>文章数</div>
			</td>
			<td style="width: 20%;">
				<div class="ghProfile-metric">{{ about.postHits}}</div>
				<div>阅读数</div>
			</td>
			<td style="width: 30%;">
				<div class="ghProfile-metric">2016-12-11</div>
				<div>创建时间</div>
			</td>
			<td style="width: 30%;">
				<div class="ghProfile-metric">{{ about.lastUpdate }}</div>
				<div>最后更新</div>
			</td>
		</tr>
	</tbody></table>
	</div>
  </div> <!--ghProfile-->
</div> <!--card-->
<br>
{% endblock %}
{% block extend_script %}
{% endblock %}