{% extends 'main_layout.html' %}
{% block title %}泞途 - joke{% endblock %}
{% block subhead %}<link href="/css/joke.css" rel="stylesheet">{% endblock %}
{% block content %}
{% for joke in list %}
<div class="mouseleave joke">
  <h4 class="title">{{ joke.title }}</h4>
  {% autoescape false %}
    <p class="text">{{ joke.text }}</p>
  {% endautoescape %}
</div>
{% endfor %}
<div class="btn-group pagination" role="group" aria-label="...">
  <button type="button" class="btn btn-default"><a href="{{ prevPage }}">上一页</a></button>
  <button type="button" class="btn btn-default"><a href="{{ nextPage }}">下一页</a></button>
  <button type="button" class="btn btn-default"><a href="{{ randomPage }}">随便看</a></button>
</div>
{% endblock %}

{% block extend_script %}
<script>
  $(".joke").mouseenter(function() {
    $(this).removeClass("mouseleave");
    $(this).addClass("mouseenter");
  })

  $(".joke").mouseleave(function() {
    $(this).removeClass("mouseenter");
    $(this).addClass("mouseleave");
  })
</script>
{% endblock %}