{% extends 'md_layout.html' %}
{% block content %}
<div id="content">
    <div id="dropbox">
        <h1>Drop file here or click to upload</h1>
        <h3>(The server does not keep a copy)</h3>
        <h4 id="tips"></h4>
    </div>
    <div id="result"></div>
    <input type="file" id="inputfile" name="file" style="display:none"/> 
</div>
{% endblock %}

{% block extend_script %}
<script src="https://cdn.jsdelivr.net/jquery/3.2.1/jquery.min.js"></script>
<script>
    var dropbox = document.getElementById("dropbox");    
    dropbox.addEventListener("click", openfile, false);
    dropbox.addEventListener("dragenter", dragenter, false);    
    dropbox.addEventListener("dragover", dragover, false);    
    dropbox.addEventListener("drop", drop, false);  

    $('#inputfile').change(function() { upload($('#inputfile').get(0).files); })
    function openfile(e) { $('#inputfile').click(); }
    function dragenter(e) { e.stopPropagation(); e.preventDefault(); }
    function dragover(e) { e.stopPropagation(); e.preventDefault(); }
    function drop(e) { e.stopPropagation(); e.preventDefault(); upload(e.dataTransfer.files); }

    var tips = $('#tips');
    function upload(files) {
    if (files === undefined) {
        return;
    }
    if (files.length !== 1) {
        tips.text('Tips:Only one file can be uploaded.');
        return;
    }

    var fileObj = files[0];
    if (fileObj.size > 5 * 1024 * 1024) {
        tips.text('Tips:No more than 5M.');
        return;
    }

    var form = new FormData();
    form.append("author", "ningto.com");
    form.append("file", fileObj); // 文件对象

    var xhr = new XMLHttpRequest();
    xhr.open("post", '/mdfile', true);
    xhr.onload = function (e) {
        console.log('over');
    };
    xhr.onreadystatechange = function() {
        $('#dropbox').hide();
        $('#result').html(xhr.responseText);
    }
    xhr.upload.addEventListener("progress", function(evt) {
        if (evt.lengthComputable) {
        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        console.log(percentComplete);
        tips.text('Tips:' + percentComplete + '%');
        } else {
        tips.text('Tips:upload failed!');
        }
    }, false);
    xhr.send(form);
    }
</script>
{% endblock %}