{% extends 'main_layout.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block subhead %}
<link rel="stylesheet" href="/css/github.css">
<link rel="stylesheet" href="/css/github-markdown.min.css">
<link rel="stylesheet" href="/css/post_header_section.css">
<link rel="stylesheet" href="/css/show.css">
{% endblock %}
{% block content %}
<div class="show-content">
    {% include "post_header_section.html" %}
    <div class="markdown-body">
        {% autoescape false %}
        {% if post.toc %}<div id="toc">
            <div id="toc-head">
                <span>文章目录</span>
                <span class="glyphicon glyphicon-chevron-down"></span>
            </div>
            {{ post.toc }}
        </div>{% endif %}
        {{ post.content }}
        {% endautoescape %}
    </div>
    <footer class="reference">
        <strong>（转载本站文章请注明作者和出处：<a href="http://ningto.com">泞途 - ningto.com</a>）</strong>
    </footer>
    <nav aria-label="...">
        <ul class="pager">
            {% if prevPost && prevPost.title && prevPost.title.length > 0 %}
            <li class="previous"><a href="/post/{{ prevPost._id.toString() }}"><span aria-hidden="true">&larr;</span>
                    {{ prevPost.title }}</a></li>
            {% endif %}
            {% if nextPost && nextPost.title && nextPost.title.length > 0 %}
            <li class="next"><a href="/post/{{ nextPost._id.toString() }}">{{ nextPost.title }} <span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>
</div>

{% if comments && comments.length %}
<form role="form" class="comments commentList" action="/comments/add" method="post">
    <h3>评论列表</h3><br />
    {% for comment in comments %}
    <div class="form-group" id={{ comment.id }}>
        <div>
            {% if user.login==="tujiaw" %}
            <a id="delete" class="glyphicon glyphicon glyphicon-remove"></a>
            {% endif %}
            <span id="name">{{comment.name}}</span>
            <span> 说道：</span>
        </div>
        <div id="time">{{comment.created_at}}</div>
        <div id="content">{{comment.content}}</div>
    </div>
    {% endfor %}
</form>
{% endif %}

<form role="form" class="comments commentInput" action="/comments/add" method="post">
    <h3>发表评论</h3>
    <h5>电子邮件地址不会被公开。 必填项已用*标注</h5>
    <br />
    <input type="hidden" name="postId" value="{{post._id.toString()}}" />
    <div class="form-group">
        <label for="comment">评论 *</label>
        <textarea id="content" class="form-control required" rows="5" name="content"></textarea>
    </div>
    <div class="form-group">
        <label for="name">姓名 *</label>
        <input id="name" class="form-control" name="name">
    </div>
    <div class="form-group">
        <label for="email">电子邮件</label>
        <input id="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label for="captcha">验证码 *</label>
        <input id="captcha" class="form-control" name="captcha">
        <div id="svgCaptcha" value=""></div>
    </div>
    <div class="form-group">
        <div class="alert alert-warning alert-dismissible hide" role="alert">
            <strong>警告!</strong> <span id="warningText"></span>
        </div>
        <button id="submit" type="submit" class="btn btn-default">发表评论</button>
    </div>
</form>

{% endblock %}
{% block extend_script %}
<script>
    const refreshCaptcha = function () {
        $.ajax({
            type: 'GET',
            url: '/captcha',
            success: function (result) {
                if (result.data) {
                    $('#svgCaptcha').html(result.data);
                    $('#svgCaptcha').attr('value', result.text);
                }
            }
        })
    }

    refreshCaptcha();
    $('#svgCaptcha').on('click', function () {
        refreshCaptcha();
    })

    $('#toc-head').on('click', function () {
        $('#toc-head .glyphicon').toggleClass('glyphicon-chevron-up');
        $('#toc ul').toggle();
    })

    $('#submit').on('click', function () {
        let errMsg = '';
        const content = $('.commentInput #content').val();
        const name = $('.commentInput #name').val(); 
        if (content.length < 3 || content.length > 2048) {
            errMsg = '评论不合法.';
        } else if (name.length < 1 || name.length > 64) {
            errMsg = '姓名不合法.';
        }
        //} else if (!/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/.test($('.commentInput #email').val())) {
        //    errMsg = '邮箱为空或者格式不正确.';
        //} 
        else {
            const inputCaptcha = $('#captcha').val()
            const dstCaptcha = $('#svgCaptcha').attr('value')
            if (inputCaptcha.length && inputCaptcha.toLowerCase() === dstCaptcha.toLowerCase()) {
                return true;
            } else {
                errMsg = '验证码不正确，请重新输入或者单击刷新验证码.'
            }
        }
        $('#warningText').html(errMsg)
        $('.alert-warning').removeClass('hide')
        return false;
    })

    $('.commentList #delete').on('click', function () {
        const commentId = $(this).parent().parent().attr('id')
        if (commentId && commentId.length) {
            $.ajax({
                type: 'POST',
                url: '/comments/remove/',
                data: {
                    commentId: commentId
                },
                success: function (result) {
                    console.log(result)
                    $('#' + commentId).hide();
                }
            })
        }
    })
</script>
{% endblock %}