a:hover {
    text-decoration:none
}

.post-inner {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #fff;
    border-bottom: 1px dotted #ccc;
    word-wrap: break-word;
    padding-bottom: 30px;
}

p.more {
    margin: 15px 0;
    font-size: 16px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.post-type {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}

.post-type.post-type-1 {
    color: rgb(187, 5, 5);
    border: 1px solid rgb(218, 129, 142);
}

.post-type.post-type-2 {
    color: rgb(11, 158, 11);
    border: 1px solid rgb(120, 230, 120);
}

.post-type.post-type-3 {
    color: rgb(10, 10, 184);
    border: 1px solid  rgb(113, 85, 179);
}