.post-header {
    display:flex;
    flex-direction:column;
}

.post-footer {
    display:flex;
    flex: 1; 
    flex-direction:row;
    justify-content:flex-start;
    margin-bottom:20px;
    color:#666;
}

.post-type-wrap {
    height:32px;
    line-height:32px;
    display:inline-block;
    vertical-align:top;
}

.post-type {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    border-radius: 50%;
}

.post-type.post-type-1 {
    color: rgb(187, 5, 5);
    border: 1px solid rgb(218, 129, 142);
}

.post-type.post-type-2 {
    color: rgb(11, 158, 11);
    border: 1px solid rgb(120, 230, 120);
}

.post-type.post-type-3 {
    color: rgb(10, 10, 184);
    border: 1px solid  rgb(113, 85, 179);
}